$christmasfont: 'Berkshire Swash',
cursive;

$normalfont: 'Open Sans',
sans-serif;

$christmascolor: white;

$navcolor: rgb(199, 184, 184);

$christmasgreen: rgb(32, 106, 93);


$background-grey: rgb(238, 238, 238);

$darkcolor: rgb(32, 32, 33);